@import url("https://fonts.googleapis.com/css2?family=Estonia&family=Roboto+Mono:wght@100&family=Sorts+Mill+Goudy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Genos:wght@100&family=Titillium+Web:wght@200&display=swap");

* {
  font-family: "Genos";
  height: auto;
  background: black;
  color: white;
}

/* navbar */

.navbar ul {
  margin: 0 auto;
  padding: 3vmin;
  word-spacing: 3vmin;
  text-decoration: none;
}

.navbar ul li {
  font-size: 1.3em;
  font-weight: bold;
  display: inline-block;
  text-align: center;
  align-content: center;
  justify-content: center;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
  list-style-type: none;
  transition-property: all;
  transition-timing-function: ease-in-out;
  transition: all 0.5s ease-in-out;
}

.navbar ul li a:hover {
  font-size: 1.75rem;
  color: orange;
}

#logo {
  height: 100px;
  width: 300px;
}

#logo:hover {
  transform: rotateX(360deg);
  transition: 5s ease-in-out;
}

header {
  background-color: black;
}

.links i {
  color: white;
  margin: 0.5vmin;
}

.checkbtn {
  font-size: 2rem;
  color: white;
  line-height: 5rem;
  margin-right: 3.5rem;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

.dropdown-menu a {
  font-weight: bold;
}

.dropdown-menu a:hover {
  background-color: black;
}

/* end of navbar */

/* section main */

main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

b {
  background-color: transparent;
}

span.result {
  color: orange;
  font-weight: bold;
  text-shadow: 2px 5px 10px orange;
  background: linear-gradient(
    to right bottom,
    rgba(70, 68, 68, 0.01),
    rgba(70, 68, 68, 0.01)
  );
}

.glass {
  width: 60%;
  min-height: 65vh;
  background: linear-gradient(
    to right bottom,
    rgba(65, 65, 65, 0.3),
    rgba(65, 65, 65, 0.4)
  );
  border-radius: 2rem;
  margin: 0 auto;
  padding-top: 5rem;
}

.circle1,
.circle2 {
  background: linear-gradient(
    to right bottom,
    rgba(70, 68, 68, 0.3),
    rgba(70, 68, 68, 0.2)
  );
  height: 10rem;
  width: 10rem;
  position: absolute;
  backdrop-filter: blur(10rem);
  opacity: 0.9;
  animation: zoom 0.5s ease-in;
}

.dashboard {
  background: transparent;
  margin: 0 auto;
}

.glass h4,
.glass p {
  background: linear-gradient(
    to right bottom,
    rgba(70, 68, 68, 0.01),
    rgba(70, 68, 68, 0.01)
  );
  line-height: 2rem;
  font-size: 2rem;
}

.user .btn:hover {
  background-color: orange;
}

.user a {
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

.user a:hover {
  color: white;
  text-decoration: none;
}

.user button {
  background-color: black;
  transform: translate3d(20px, 20px, 20deg);
}

.circle1 {
  top: 13%;
  right: 15%;
  border-radius: 50%;
  z-index: -0.01;
}

.circle2 {
  left: 13%;
  top: 95%;
  border-radius: 50%;
}

.user {
  background: transparent;
  display: grid;
  margin: 1.5rem;
  align-content: center;
  justify-content: center;
  text-align: center;
}

.user-box {
  justify-content: center;
  align-items: center;
  text-align: center;
  background: transparent;
  margin-top: -1.5rem;
}

.flex-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  flex-wrap: wrap;
  justify-content: space-between;
  background: transparent;
}

.user::after {
  content: "";
  clear: both;
}

svg {
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 5px orange;
}

.portfolio {
  background: transparent;
  display: grid;
  margin-bottom: 5rem;
  z-index: 1;
}
/* end main section */

/* container */

.grid-item img {
  width: 30%;
  height: 30%;
}

.grid-container {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  text-align: center;
  transition: 0.5s;
  border: solid orange;
}
.grid-item:hover {
  background: orange;
}

.item1 {
  grid-column: 1 / 3;
}

.item2 {
  grid-column: 3 / 4;
  grid-row: 1 / 3;
}

.item4 {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
}

.item5 {
  grid-column: 4 / 5;
  grid-row: 2 / 4;
}

.item7 {
  grid-column: 2 / 4;
  grid-row: 3 / 5;
}

div.grid-container .grid-item a {
  color: white;
  display: inline-block;
  font-size: 1.3rem;
  font-weight: bold;
  margin: 0 auto;
  text-decoration: none;
  list-style-type: none;
}

div.grid-container .grid-item a:hover {
  color: orange;
  text-decoration: none;
}

/* container section ends */

/* team section */
h1.text-center:hover {
  color: orange;
}

#team.container {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  background-color: black;
}

.card-body ul li {
  text-decoration: none;
  list-style-type: none;
  color: white;
  margin: auto;
  font-size: 1.25rem;
  font-weight: bold;
}

/* team section ends */

/* achievements */
section#achievements {
  background-color: black;
}

section#achievements h1 {
  font-weight: bold;
  margin: 0 auto;
  text-align: center;
}

b:hover {
  color: orange;
}

.container.grid img {
  width: 100%;
  border-radius: 10px;
}

.container.grid {
  width: 100%;
  height: 75vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  align-items: center;
  text-align: center;
  transition: 0.5s;
}

.container.grid .card {
  margin-top: 4rem;
  background-color: black;
}

.one {
  grid-column: 1/2;
  grid-row: 1/2;
}

.two {
  grid-column: 2/3;
  grid-row: 1/3;
}

.three {
  grid-column: 3/4;
  grid-row: 1/2;
}

/* end of achievements section */

/* demo projects */
section.demo-projects {
  padding-top: 3rem;
}

.demo-projects video {
  width: 100%;
  height: 75%;
  box-shadow: 4px 4px 4px orange;
}

/* end of demo projects */

/* sections tools */

div.main-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  gap: 2.5rem;
  padding: 1rem 1rem;
  border-radius: 1rem;
}

.main-grid .card {
  width: 100%;
  height: auto;
}

ul {
  list-style-type: none;
  padding: 0;
}

#item1.card {
  height: 50%;
}

#item1.card a:hover {
  color: orange;
  transform: scale(2);
  border-bottom: 1px solid white;
}

#item1.card a,
#item2.card a,
p {
  font-size: 1.3rem;
  color: white;
  text-decoration: none;
  transition: all 0.5s ease-in;
}

pre code {
  color: white !important;
}

#item1.card,
#item2.card {
  padding-left: 2rem;
  background-color: black;
  text-align: start;
  box-shadow: 1px 1px rgb(255, 166, 0);
  line-height: 2rem;
}

.small-icons i {
  padding: 0 0.25rem;
}

.small-icons i:hover {
  color: cyan !important;
}

/* end of tools section */

/* footer */

.footer {
  padding-top: 5rem;
  width: 100%;
  height: auto;
  background: black;
}

.grid-4 {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
}

p::first-letter {
  font-size: xx-large;
}

.sitemap .links a {
  text-decoration: none;
  color: white;
  line-height: 2rem;
  transition: all 0.5s ease-in;
}

.sitemap .links a:hover {
  color: orange;
  border-bottom: 1px solid white;
  transform: scale(2);
}

.social ul li {
  display: inline-block;
  padding: 0 0.25rem;
}

.social ul li a {
  text-decoration: none;
  list-style-type: none;
}

.social i:hover {
  color: cyan !important;
}

.fa-arrow-right {
  background-color: transparent;
  color: rgba(228, 148, 0, 0.733);
}

form input.form-control {
  color: black !important;
  border-radius: 10px;
}

form input::placeholder {
  color: black !important;
}

.rights p a {
  text-decoration: none;
  list-style-type: none;
  transition: all 0.5s ease-in-out;
}

.rights p a:hover {
  font-size: 1.75rem;
}

/* general styling */
.section-1,
section#team,
section#achievements,
section.article {
  padding-top: 5rem;
}

.grid-container,
.col-md-4 {
  margin-top: 1rem;
}

#chat-bot-launcher-container.chat-bot-avatar-launcher
  .chat-bot-launcher-button {
  box-shadow: 5px 5px 5px 5px orange !important;
  text-decoration: none;
}

#chat-bot-message-container .chat-bot-message-label {
  background-color: black !important;
  padding: 10px !important;
}

#chat-bot-message-container .overflow {
  overflow: hidden !important;
  background-color: transparent;
}

/* animations */
.user button,
svg {
  animation: slideUp 0.5s ease-in;
}

@keyframes slideUp {
  0% {
    transform: translateY(100px);
  }
  50% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(0px);
  }
}

.portfolio img {
  box-shadow: 5px 5px 5px orange;
  animation: zoom 0.25s ease-in-out;
}

@keyframes zoom {
  0% {
    transform: scaleX(0.5);
  }
  100% {
    transform: scaleX(1);
  }
}

video {
  animation: zoomIn 5s ease-in-out;
}

@keyframes zoomIn {
  0% {
    transform: translateY(250px);
  }

  100% {
    transform: translateY(0);
  }
}

#item1.card {
  animation: slideFromLeft 5s ease-in-out;
}

#item2.card {
  animation: slideFromRight 5s ease-in-out;
}

@keyframes slideFromLeft {
  0% {
    transform: translateX(-100px);
  }
  50% {
    transform: translateX(-50px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideFromRight {
  0% {
    transform: translateX(100px);
  }
  50% {
    transform: translateX(50px);
  }
  100% {
    transform: translateX(0);
  }
}

/* end of animations */

.content img {
  width: 10vmin;
  height: 10vmin;
  margin-top: 0.5rem;
}

button {
  box-shadow: 5px 5px 5px 0px orange;
  color: #f4f3ee;
  font-size: 600;
}
